
:root {
    --text-color:hsl(0, 0%, 59%);
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%)

  }
body {
    font-family: 'Kumbh Sans';
    font-weight: 700;
    margin: 0px;
    color: var(--Very-dark-desaturated-blue);
}
/* ########BACKGROUND########### */
.main{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}
    

/* ############CARD################## */

.card {
    background-color: white;
    width: 350px;
    border-radius: 8px;
    overflow: hidden;
}

.card-top {
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 140px;
}

.card-bootom {
    display: flex;
    /* position: relative; */
    /* margin-left: 73px; */
    margin-top: 34px;
    margin-bottom: -26px;
    height: 122px;
    /* flex-direction: row; */
    /* align-content: center; */
    justify-content: space-around;
    align-items: center;
}



#age {
    font-size: 18px;
    color:var(--text-color);
}

.footer {
    display: flex;
    height: 78px;
    border-top: #80808066;
    border-top-style: solid;
    border-top-width: thin;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.info {
    text-align: center;
}

label {
    font-size: 12px;
    color:var(--text-color);
    font-weight: 400;
}
/* ###########Picture################## */

#picture {
    display: flex;
    justify-content: space-around;
}

#picture>img {
    border-radius: 50%;
    position: absolute;
    margin-top: 90px;
    border-style: solid;
    border-color: white;
    border-width: thick;
}

/* ###########TEXT################## */
span {
    font-size: 12px;
    color:var(--text-color);
    font-weight: 400;
}





/* ###########RESPONSIVE################## */

@media screen and (max-width: 480px) {
    .card {
        width: 350px;
    }
    .body{
        font-weight: 400;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 400px;
    }
}
